<h1>My tasks</h1>

<% @tasks.each do |t| %>
  <p> <% if t[:completed]%>
        [X]
      <% else %>
        [ ]
      <% end %>
    <%= link_to t.title, task_path(t) %>
    <%= link_to "Delete", task_path(t),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

  </p>

<% end %>



<%= link_to "Add a Task", new_path %>
